# TD : Listes en python

## Exercice 1 : Insertion dans un tableau

Définir une fonction `insertion_tableau` prenant en paramètre une liste `L`, une valeur `v` et un indice `i` et insérant la valeur `v` à l'indice `i` dans `L` (fonction comparable à `L.insert(i,v)` définie en Python). 

Cette fonction ne doit pas utiliser la fonction `L.insert`, seule la fonction  `L.append` est permise pour augmenter la taille du tableau.

In [24]:
def insertion_tableau (L,v,i):

    a=L[i]
    L[i]=v
    #print(L[i])
    #print(L)
    L.append(L[len(L)-1])
    #print(L)
    for j in range(i,len(L)-i):
        #print("j=",j)
        #print('len(l)-j=',len(L)-j)
        #print( L[len(L)-j])
        #print( L[len(L)-j-1])
        L[len(L)-j]=L[len(L)-j-1]
        #print( L[len(L)-j])
        #print( L[len(L)-j-1])
    
    L[i+1]=a
    return L


insertion_tableau([1,2,4,6,7,8,9,5],3,2)

[1, 2, 3, 4, 6, 7, 8, 9, 5]

Quelle est la complexité asymptotique de la fonction `insertion_tableau` ?

**Réponse :** Écrire votre réponse ici.
O(4n+5)

## Exercice 2 : suppression d'un élément dans un tableau

Définir la fonction `suppression_tableau` prenant en paramètre un tableau et un indice et supprimant dans le tableau l'élément se trouvant à l'indice donné (fonction similaire à `L.pop(i)`). 

Pour supprimer un élément, la fonction peut juste appeler la fonction `L.pop()` (sans argument) pour supprimer la dernière case.

In [25]:
def suppression_tableau(L,i):
    for j in range(i,len(L)-i+1):
        L[j]=L[j+1]
    
    L.pop()
    return L


suppression_tableau([1,2,3,3,5,7,9,0,4],2)

[1, 2, 3, 5, 7, 9, 0, 4]

Quelle est la complexité de la fonction `suppression_tableau` ?

**Réponse :** Écrire votre réponse ici.
O(3n+2)

## Exercice 3 : Copie d'un tableau

Définir la fonction `copie_tableau` retournant une copie du tableau `L` passé en paramètre (fonction comparable à `L.copy()`). 

Cette fonction ne doit pas utiliser la fonction `L.copy`, seule la fonction `L.append` est permise pour augmenter la taille du tableau.

In [28]:
def copie_tableau(L):
    L2=[]
    for i in range(len(L)):
        L2.append(L[i])

    return L2


L=[1,2,3,3,7,8]
L2=copie_tableau(L)

L[2]=6
print(L2)

[1, 2, 3, 3, 7, 8]

Quelle est la complexité asymptotique de la fonction `copie_tableau` ?

**Réponse :** Écrire votre réponse ici.
O(n+2)

## Exercice 4 : Fonctions sur des  listes (tableaux) triées ou non triées

Les questions de cet exercice ont pour objet de manipuler les listes/tableaux en Python et de comparer ce qui se passe si on travaille avec des tableaux triés ou des tableaux quelconques. Pour chacune des fonctions à implémenter, on définira deux versions : 

* une première version prendra en paramètre une liste de nombres quelconques. Pour plus d'efficacité, la fonction pourra modifier l'ordre des éléments dans la liste,

* la seconde version prendra en paramètre une liste de nombres triés dans l'ordre croissant ; la liste devra rester triée.

### Question 1 : Minimum d'un tableau

* Définir la fonction `minimum_tableau` prenant en paramètre un tableau de nombres et retournant le minimum.

In [69]:
def minimum_tableau(L):
    L.sort()
    return L[0]

def minimum_tableau_2(L):
    min=0
    for i in range(len(L)):
        if L[i]<L[i-1]:
            min=i
    
    return L[min]

L=[]
for i in range (10):

    L.append(i)
print(L)
minimum_tableau_2(L)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

0

* Définir la fonction `minimum_tableau_trie` prenant en paramètre un tableau de nombres triés dans l'ordre croissant et retournant le minimum.

In [ ]:
############################## 
#   Saisir votre code ici.   #
##############################
def minimum_tableau_trie(L):
    return L[0]

- Quelle est la complexité dans le pire des cas de chacune de ces fonctions ?

O(2)
O(2n+2)
O(1)

**Réponse :** Écrire votre réponse ici.

### Question 2 : Ajout d'un élément

* Définir la fonction `ajouter_tableau` ajoutant un nombre à un tableau de nombres.

In [41]:
############################## 
#   Saisir votre code ici.   #
##############################
def ajouter_tableau(L,n):
    L.append(n)
    return L

ajouter_tableau([1, -2, 0, 3, 0, -4, 0, 5],4)

[1, -2, 0, 3, 0, -4, 0, 5, 4]

* Définir la fonction `ajouter_tableau_trie` ajoutant un nombre à un tableau trié.

In [54]:
############################## 
#   Saisir votre code ici.   #
##############################
def ajouter_tableau_trie(L,n):
    i=0
    while (n > L[i]) and (i< len(L)-1):
        i+=1
        print(i)
    L.insert(i,n)

    return L


ajouter_tableau_trie([12, 23, 34, 45],6)

[6, 12, 23, 34, 45]

- Quelle est la complexité dans le pire des cas de chacune de ces fonctions ?

**Réponse :** Écrire votre réponse ici.
O(1)
O(3n)

### Question 3 : Suppression d'un élément

* Définir la fonction `supprimer_tableau` prenant en paramètre un tableau et un indice `id` et supprimant dans le tableau la valeur d'indice `id`.

  On utilisera pour cela la fonction `L.pop()` qui supprime la dernière case d'un tableau, mais pas la fonction `L.pop(i)`

In [65]:
############################## 
#   Saisir votre code ici.   #
##############################
def supprimer_tableau(L,id):
    for i in range(id,len(L)-1):
    
        L[i]=L[i+1]
        
    L.pop()
    return L

L=[12, 23, 34, 45]
supprimer_tableau(L,2)

[12, 23, 45]

* Définir la fonction `supprimer_tableau_trie` prenant en paramètre un tableau trié et un indice `id` et supprimant dans le tableau la valeur d'indice `id`.

In [67]:
############################## 
#   Saisir votre code ici.   #
##############################
def supprimer_tableau_trie(L,id):
    for i in range(id,len(L)-1):
    
        L[i]=L[i+1]
        
    L.pop()
    return L

supprimer_tableau_trie([1, -2, 0, 3, 0, -4, 0, 5],4)

[1, -2, 0, 3, -4, 0, 5]

- Quelle est la complexité dans le pire des cas de chacune de ces fonctions ?

**Réponse :** Écrire votre réponse ici.
O(3n+1)

## Exercice 5 : Réarrangement de tableau**

### Question 1

Écrire une fonction `deplacer(T, k)` prenant en paramètre un tableau `T` et une valeur `k` et permutant les valeurs du tableau `T` de manière à ce que toutes les valeurs strictement inférieures à `k` soient au début de tableau.

**Remarque :** L'ordre des éléments dans le tableau n'a pas d'importance tant que les éléments strictement inférieurs à `k` sont placés au début du tableau.

In [92]:
############################## 
#   Saisir votre code ici.   #
##############################

def deplacer(T,k):
    for i in range(len(T)):
        print('Ti=',T[i])
        if T[i]<k:
            
            j=0
            while T[j] < k and i>=j and j<len(T):
                print('j=',j)
                j+=1
            print('Tj=',T[j])
            if T[j]<k:
                return T
            
            else:
                T[i],T[j]=T[j],T[i]
        print(T)
    return T
            
            
    
            


T=[1, -2, 0, 3, 9,-2,0, -4, 0, 5]
deplacer(T,0)

Ti= 1
[1, -2, 0, 3, 9, -2, 0, -4, 0, 5]
Ti= -2
Tj= 1
[-2, 1, 0, 3, 9, -2, 0, -4, 0, 5]
Ti= 0
[-2, 1, 0, 3, 9, -2, 0, -4, 0, 5]
Ti= 3
[-2, 1, 0, 3, 9, -2, 0, -4, 0, 5]
Ti= 9
[-2, 1, 0, 3, 9, -2, 0, -4, 0, 5]
Ti= -2
j= 0
Tj= 1
[-2, -2, 0, 3, 9, 1, 0, -4, 0, 5]
Ti= 0
[-2, -2, 0, 3, 9, 1, 0, -4, 0, 5]
Ti= -4
j= 0
j= 1
Tj= 0
[-2, -2, -4, 3, 9, 1, 0, 0, 0, 5]
Ti= 0
[-2, -2, -4, 3, 9, 1, 0, 0, 0, 5]
Ti= 5
[-2, -2, -4, 3, 9, 1, 0, 0, 0, 5]

[-2, -2, -4, 3, 9, 1, 0, 0, 0, 5]

### Question 2

Définir une fonction de tests unitaires de la fonction `deplacer`.

In [75]:
############################## 
#   Saisir votre code ici.   #
##############################
def test():
    assert deplacer(T,0),'faux'